:root {
    --blue-300: #4680DB;
    --blue-500: #5679B0;
    --blue-700: #3B4487;
    --blue-900: #001366;

    --gray-300: #666666;
    --gray-500: #3A4042;

    --black: #000000;
    --white: #FFFFFF;
}

body {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

body, h1, h2 , h3, figure {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
        scroll-behavior: smooth;
    }

    img, progress {
        max-width: 100%;
    }

    * {
        box-sizing: border-box;
    }

    .body {
        grid-template-columns: 1fr;
    }

    .main-header {
        font-size: 87.5%;
        margin: 0;
    }

    .main-header > nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        text-align: center;
        padding-top: 0.7rem;
        row-gap: 1rem;
    }

    .main-header > img {
        padding-right: 1.5rem;
    }

     .navigation {
        display: flex;
        flex-direction: column; 
        gap: 15px;
        align-items: center;
        margin-top: 20px;
    }

    .navigation .main-button {
        width: 80%;
        max-width: 260px;
        text-align: center;
        padding: 12px;
    } 

    /* .main-title {
        font-size: 85%;
    }

    .main-subtitle {
        font-size: 85%;
    } */

    .main-box {
        display: flex;
        justify-content: center;
        text-align: left;
        width: 100%;
        margin: auto;
        margin-right: 100px;
    }

    .main-banner {
        background-size: cover;
        background-position: center;
        padding: 1.25rem 2rem;
    }

    .skill-tec, .skill-img {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 2rem;
        overflow-x: visible;
    }

    .wrapper-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    /* CONTINUAR DESSA PARTE AMANHÃ */

    .node-card {
        box-sizing: none;
        padding-right: 1rem;
    }


    .main-description {
        text-align: justify;
        padding-right: 1.5rem !important;
        font-size: 1rem !important;
    }
    
    .container-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-right: 5rem;
    }

    .header-form {
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        font-size: 1rem !important;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input, 
    textarea {
        max-width: 100%;
    }

    textarea {
        resize: none;
    }

    .align-button {
        text-align: left;
        padding-left: 7.5rem;
    }
} 