.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-500);
    width: 17.5rem;
    height: 17.5rem;
    box-shadow: 10px 10px 0px var(--white);
}

.card-project.-blue {
    background-color: var(--blue-300);
}

