form {
    background-color: var(--gray-500);
}

.container-form {
    display: flex;
    justify-content: center;
}

.header-form {
    display: flex;
    flex-direction: column;
    color: var(--white);
    line-height: 1.5;
    font-size: 1.125rem;
}

.paragraph-city {
    display: flex;
    flex-direction: column;
    margin-top: 9.375rem;
    padding-left: 0.625rem;
}

.contact-form > input {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--black);
    font-size: 1.563rem;
    width: 31.25rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    margin: 2% 0 5% 25%;
}

.contact-form > textarea {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--black);
    border: border-box;
    font-size: 1.563rem;
    width: 31.25rem;
    height: 13.75rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    margin: 2% 0 5% 25%;
    resize: none;
}