.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-900);
    border-bottom: 10px solid var(--black);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

