.main-box {
    display: inline-block;
    background-color: var(--gray-500);
    box-shadow: 10px 10px 0px var(--black);
    text-align: center;
    padding: 42px 44px;
}

.main-box .main-title {
    margin-bottom: 20px;
}