.main-action {
    display: inline-flex;
    align-items: center;
    color: var(--white);
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.main-action:hover {
    color: var(--blue-300);
    transform: scale(1.08);
}

.main-action:before {
    content: "";
    background-color:var(--blue-300);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}