.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.875rem;
    color: var(--blue-300);
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.719);
    margin-bottom: 0.5rem;
} 

.main-title.-second{
    color: var(--white);
    text-shadow: none;
    text-align: center;
}