.main-action {
    display: inline-flex;
    align-items: center;
    color: var(--white);
    font-size: 1.25rem;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 1.875rem;
}

.main-action:hover {
    color: var(--blue-300);
    transform: scale(1.08);
}

.main-action:before {
    content: "";
    background-color:var(--blue-300);
    width: 0.625rem;
    height: 0.625rem;
    margin-right: 0.625rem;
}