.main-section {
    background-color: var(--blue-500);
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
    border-bottom: 10px solid var(--blue-500);
}

.main-section .main-title {
    margin-bottom: 3.75rem;
}

.main-section.-bgBlack {
    background-color: var(--black);
}

.main-section.-bdFirst {
    border-color: var(--blue-300);
}

.main-section.-bgSecond {
    background-color: var(--blue-700);
}

.main-section.-bdBlack {
    border-color: var(--black);
}