.main-form {
    padding: 3.125rem 2.5rem;
}

.main-form .main-title {
    margin: 3.125rem;
}

.main-form .main-input {
    margin-bottom: 1.25rem;
}

.main-form .main-input.-textarea {
    margin-bottom: 2.5rem;
}