.main-footer {
    display: flex;
    justify-content: center;

    background-color: #000;
    padding-top: 20px;
    padding-bottom: 15px;
}

.main-footer .action {
    margin-right: 20px;
    margin-left: 20px;
}

.main-footer .icon-link {
    width: 45px;
    height: 47px;
}