.main-carousel {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-left: 5.313rem;
    padding-right: 5.313rem;
}

.main-carousel::after {
    content: '';
    position: absolute;
    left: 3.125rem;
    top: 2.375rem;
    display: block;
    height: 0.375rem;
    width: calc(100% - 100px);
    background-color: var(--black);
}

.main-carousel::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 0rem;
    top: 2.375rem;
    display: block;
    border: 3px dashed var(--black);
    width: 100%;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 4.375rem;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 0.938rem;
}

.main-carousel .button-arrow.-right {
    right: 0.938rem;
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-evenly;
    transition: transform 100ms ease-in-out;
}