.main-banner {
    box-sizing: border-box;
    background-image: url(../../Assets/Img/main-background.gif);
    background-repeat: no-repeat;
    background-size: cover; /* 100%  100% */
    height: 52rem;
    border-bottom: 10px solid var(--black);
    padding-top: 7.188rem;
    padding-left: 5.625rem;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.main-banner .main-box {
    margin-bottom: 2.5rem; 
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}