.main-section {
    background-color: var(--blue-500);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid var(--blue-500);
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: var(--black);
}

.main-section.-bdFirst {
    border-color: var(--blue-300);
}

.main-section.-bgSecond {
    background-color: var(--blue-700);
}

.main-section.-bdBlack {
    border-color: var(--black);
}