.main-description {
    color: var(--white);
    text-align: left;
    font-size: 1.438rem;
    font-weight: 300;
    line-height: 1.3;
    padding-top: 3.125rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}