.main-button {
    display: inline-block;
    background-color: var(--blue-300);
    color: var(--white);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.829);
    padding: 1.125rem 1.25rem;
    margin-right: 0;
    transition: transform 100ms linear;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover {
    background-color: var(--blue-900);
    box-shadow: 0 5px var(--gray-300);
    transform: scale(1.08);
}

.main-button.-firstColor:hover {
    background-color: var(--blue-300);
    box-shadow: 0 5px (--gray-300);
    transform: scale(1.08);
}

.main-button.-full {
    display: flex;
    margin-left: auto;
    margin-right: 22.188rem;
    width: 9.375rem;
    padding: 0.813rem;
}

.main-button.-full:hover {
    transform: scale(1.02);
}