.progress-bar {
    background-color: var(--white);
    border: 5px solid var(--black);
    height: 30px;
    box-sizing: border-box;
}
  
/* Chrome, Safari, Edge (WebKit) */
.progress-bar::-webkit-progress-bar {
    background-color: var(--white);
}
  
.progress-bar::-webkit-progress-value {
    background-color: var(--blue-700);
}
  
/* Firefox */
.progress-bar::-moz-progress-bar {
    background-color: var(--blue-700);
}
  
