.skill-tec {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.563rem;
    color: var(--white);
}

.skill-tec .icon {
    margin-right: 1.563rem;
    width: 5.625rem;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5rem;
}

.skill-tec .title {
    margin-bottom: 0.813rem;
    padding-left: 0.625rem;
}