.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-tec {
    width: 26.875rem;
    margin-bottom: 2.5rem;
}

.wrapper-skill .skill-tec:nth-child(odd) {
    margin-right: 6.25rem;
}

.wrapper-skill .progress-bar {
    width: 20rem;
}